
body {
    background-color: darkcyan;
}
#green {
   width: 200px;
   height: 200px;
   border: 1px solid green;
   float: left;
   margin: 5px;
}
.container {
        background-color: lightblue;
    }
footer {
    background-color: salmon;
    color: bisque;
    text-align: center;
}
.flex-container {
    display: flex;
    display: -webkit-flex;
    width: 100%;
}

.flex-section {

}

.flex-item {
    margin: 1em;
}